Primer Año/Lenguaje de Marcas/1 evaluacion/xsd/Ejercicio 6.xsd

<?xml version="1.0" encoding= "UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="biblioteca">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="libro" maxOccurs="2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="autor" type="xs:string"/>
                        <xs:element name="titulo" type= "xs:string"/>                 
                    </xs:sequence>
                        <xs:attribute name="codigo" type="xs:decimal" use="required"/>
                        <xs:attribute name="ubicacion" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>






<!--
<?xml version="1.0" encoding="utf-8"?>
<biblioteca>
	<libro codigo="123" ubicacion="estanteria 1">
		<autor>Miguel de Cervantes Saavedra</autor>
		<titulo>El Quijote de la Mancha</titulo>
	</libro>
	<libro codigo="1023" ubicacion="estanteria 3">
		<autor>Pablo Neruda</autor>
		<titulo>Veinte poemas de amor y una cancion desesperada</titulo>
	</libro>
</biblioteca>
-->