Primer Año/Lenguaje de Marcas/1 evaluacion/xsd/Ejercicio 5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="biblioteca">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="libro" maxOccurs="2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="autor" type="xs:string"/>
                        <xs:element name="titulo" type= "xs:string"/>
                        <xs:element name="codigo" type= "xs:decimal"/>
                                    <xs:simpleType>
								            <xs:restriction base="xs:integer">
									                <xs:minInclusive value="1"/>
								                	<xs:maxInclusive value="9999"/>
								            </xs:restriction>
							        </xs:simpleType>

                        <xs:element name="ubicacion" type="xs:string"/> 
                                <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="estanteria 1"/>
									<xs:enumeration value="estanteria 2"/>
									<xs:enumeration value="estanteria 3"/>
									<xs:enumeration value="estanteria 4"/>
									<xs:enumeration value="estanteria 5"/>
									<xs:enumeration value="estanteria 6"/>
									<xs:enumeration value="estanteria 7"/>
									<xs:enumeration value="estanteria 8"/>
									<xs:enumeration value="estanteria 9"/>
									<xs:enumeration value="estanteria 10"/>
									<xs:enumeration value="estanteria 11"/>
									<xs:enumeration value="estanteria 12"/>
									<xs:enumeration value="estanteria 13"/>
									<xs:enumeration value="estanteria 14"/>
								</xs:restriction>
							</xs:simpleType>               
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>








<!--
<?xml version="1.0" encoding="utf-8"?>
<biblioteca>
	<libro>
		<autor>Miguel de Cervantes Saavedra</autor>
		<titulo>El Quijote de la Mancha</titulo>
		<codigo>123</codigo>
		<ubicacion>estanteria 1</ubicacion>
	</libro>
	<libro>
		<autor>Pablo Neruda</autor>
		<titulo>Veinte poemas de amor y una cancion desesperada</titulo>
		<codigo>124</codigo>
		<ubicacion>estanteria 11</ubicacion>
	</libro>
</biblioteca>
-->