Primer Año/Lenguaje de Marcas/1 evaluacion/xsd/Ejercicio 2.xsd

<?xml version= "1.0" encoding= "UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="libro">
    <xs:complexType>
        <xs:sequence>
            <element name="autor" type="xs:string"/>
            <element name="titulo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>

<!--
<libro>
	<autor>Miguel de Cervantes Saavedra</autor>
	<titulo>El Quijote de la Mancha</titulo>
</libro>
-->