Primer Año/Lenguaje de Marcas/1 evaluacion/xsd/ACTIVIDAD 5/Actividad 5 (20º).xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="articulos">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="articulo" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" type="xs:string"/>
                        <xs:element name="precio">
                            <xs:complextType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:decimal">
                                            <xs:attribute name="moneda" type="xs:string" />
                                        </xs:extension>
                                    </xs:simpleContent>
                            </xs:complexType>
                    </xs:sequence>
                </xs:complextType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>