Primer Año/Lenguaje de Marcas/1 evaluacion/xsd/EJERCICIO IMPOSIBLE/Diseñar XSD (1).xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="personal">
    <xs:complexType>
        <xs:all>
            <xs:element name="datos generales" type="tipoDatosGenerales"/>
            <xs:element name="datos departamento">
                <xs:complexType>
                    <xs:sequence>
                        <element name="departamento">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="jefe" type="tipoJefe" minOccurs="1">
                                    <xs:element name="empelado" type="tipoEmpleado" minOccurs="0" maxOccurs="3"/>
                                </xs:sequence>
                                    <xs:attributeGroup ref="atributosDepartamento"/>
                            </xs:complexType>
                        <xs:element>    
                    </xs:sequence>
                </xs:complexType>
        </xs:all>
        <xs:attributeGroup ref="atributosPersonal"/>
    </xs:complexType>
</xs:element>

 <xs:complexType name="tiposDatosGenerales">
    <xs:sequence>
        <xs:element name="nombre-empresa" type="tipoTexto"/>
        <xs:element name="numero-trabajadores" type="positiveInteger"/>
        <xs:element name="sector">
            <xs:complexType>
                <xs:sequence>
                    <xs:grupo ref="sectores"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="tipoJefe">
    <xs:complexContent>
        <xs:extension base="tipoEmpleado">
            <xs:sequence>
                <xs:element name="clave">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="tipoClave">
                                <xs:attribute name="usuario" default="invitado">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:minLenght="6"/>
                                            <xs:maxLenght="8"/>
                                        </xs:restriction>
                                    <xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:extension>
    </xs:complexContent>
<xs:complexType>

<xs:complexType name="tipoEmpleado">
    <xs:sequence>
        <xs:group ref="datosEmpleado"/>
    </xs:sequence>
</xs:complexType>

<xs:group name="datosEmpleado">
    <sequence>
        <element name="nombre-y-apellidos" type="tipoTexto"/>
        <element name="baja" minOccurs="0"/>
        <element name="salario">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minExclusive value="1000"/>
                    <xs:maxExclusive value="9999"/>
                    <xs:totalDigits value="6"/>
                    <xs:fractionDigits value="2"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
    </xs:sequence>
</xs:group>

<xs:group name="sectores">
    <xs:choice>
        <xs:element name="educacion"/>
        <xs:element name="finanzas"/>
        <xs:element name="tecnologia"/>
    </xs:choice>
</xs:group>

<xs:attributeGroup name="atributosPersonal">
    <xs:attribute name="fecha" type="xs:date" use="required"/>
    <xs:attribute name="multiacional" type="xs:boolean" use="required"/>
    <xs:attribute name="moneda" fixed="Euro"/>
</xs:attributeGroup>
</xs:schema>
    
<!--HASTA AQUI HE LLEGADO-->